<body>

    <div class="d-flex justify-content-center my-4">

        <div class="col-md-6 text-center">
            <h3>List of Room </h3>
        </div>
        <button (click)="openAdd(modalContent)"  class="btn btn-primary btn-sm mr-1"><i class="fa fa-plus"></i></button> 
    
    </div>
    
      <!-- Model ADD & Update house : -------------------------------------------------------------------------->
    <ng-template #modalContent let-modal>
    
        <div class="modal-header">
            <h4 class="modal-title text-center" id="modal-basic-title">Add House</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-md-6 mx-auto">
    
                <form method="post">
                    <div class="form-group">
                        <label for="Nom">Nom room :</label>
                        <input [(ngModel)]="myRoom.name" name="Nom" type="text" class="form-control" id="Nom"
                            placeholder="Enter Nom" required>
                    </div>
                   
                    <div class="form-group">
                        <label for="status">home</label>
                        <select [required]=true [(ngModel)]="this.myHome" (ngModelChange)="houseChange($event)" name="home" class="form-select">
    
                            <option *ngFor="let h of listofHouses" [ngValue]="h" value="{{h.id}}" >Name house {{h.name}}</option>
    
                        </select>
                    </div>

                   
                    <div class="form-group">
                        <label for="status">floor</label>
                        <select [required]=true [(ngModel)]="this.myRoom.floorId"  name="floor" class="form-select">
    
                            <option *ngFor="let f of this.myHome?.floors" [ngValue]="f.id" value="{{f.id}}" >Floor N° : {{f.number}}</option>
    
                        </select>
                    </div>

    
                    <button [hidden]="this.modalMode!='add'"  (click)="add()" class="btn btn-primary"
                        (click)="modal.dismiss('Cross click')"><i class="fas fa-plus"></i>
                        Add Room </button>
     
                    <button  [hidden]="this.modalMode!='update'" (click)="update()" class="btn btn-primary"
                        (click)="modal.dismiss('Cross click')"><i class="fas fa-edit"></i>
                        Update Room </button>
    
                </form>
    
    
    
                {{ myRoom| json}}
    
    
    
            </div>
        </div>
    
    
    </ng-template>
    <!-- END of Model ADD & Update house :------------------------------------------------------------ -->
   
   

    <div class="row">
        <div class="col-md-6 mx-auto">
            <ul class="list-group">
    
    
    
                <ul class="list-group">
    
                    <li *ngFor="let r of listofRooms"
                        class="list-group-item d-flex justify-content-between align-items-center">
                       <p> id:{{r.id}}<br>
                        name :{{r.name}}<br>
                        floor: {{r.floor?.number}} <br>
                        Devices:
                        <span *ngFor="let d of r.devices">
                            <li>Device : {{d.device }} - {{d.status?'ON':'OFF'}}</li>
                        </span><br>
                    </p>    
                     


                  
                        <button  (click)="openUpdate(modalContent,r.id)"  type="button" class="btn btn-warning btn-md"><i class="fa fa-pencil"></i></button>
    
                        <button  (click)="delete(r.id)" type="button"  class="btn btn-danger btn-md"><i class="fa fa-trash"></i></button>
    
                    </li>
    
                </ul>
    
            </ul>
        </div>
    </div>


</body>
